@page
@model BAIS3230Project.Pages.StandingTeeTimes.ConfirmationModel
@{
}


<h2>Standing Tee Time Created</h2>
<p>
	Your standing tee time request has been submitted.
</p>
<p>	
	Thank you for submitting your request. Shareholder members may submit one foursome request per week. 
	All requests will be reviewed by the Rules Committee and prioritized in the event of any conflicts. 
	You will be notified once tee times are finalized.
</p>